<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.woitek.freetrader1902scorekeeper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ConstableActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_constable"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".FightActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_highwayman"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".GameEndActivity"
            android:label="@string/title_activity_win">
        </activity>
    </application>

</manifest>
